# -*- mode:sh -*-
# This file should contain commands valid on ALL hosted platforms except PC
# (e.g. Android)

# import hardware-specific commands
import boxinit.hosted.${ro.hardware}.rc

on early-fs
    # shm
    mkdir /dev/shm
    mount tmpfs shm /dev/shm
    # usbfs
    mkdir /proc/bus/usb
    mount usbfs none /proc/bus/usb
    # mount tmpfs in /tmp
    mount tmpfs tmp /tmp
    # create FSH non persistant directory
    mkdir /tmp/cache 0755
    mkdir /tmp/lock 1777
    mkdir /tmp/run 0777
    mkdir /tmp/tmp 1777
    mkdir /tmp/log 0777
    mkdir /tmp/etc 0777
    # create resolv.conf in tmp fs (symlink from /etc/resolv.conf done in skel)
    write /tmp/etc/resolv.conf ""
    # mount debugfs in /sys/kernel/debug for powerd
    mount debugfs none /sys/kernel/debug
