<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pick A Place</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</head>
<body>
<div class="choose"></div>
<div class="container">
    <div class="loading">
        <div class="spinner"></div>
    </div>
    <div class="searchpage text-center">
        <button class="btn btn-default" id="search">Hack the Drone!</button>
    </div>
    <h1 class="text-center" id="error"></h1>
</div>
<footer class="text-center" id="footer">
    <p>&copy; 2017/p>
</footer>
</body>
</html>